# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",sep=',')
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [3]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm', 'class']
iris.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  149 non-null    float64
 1   sepal_width_cm   149 non-null    float64
 2   petal_length_cm  149 non-null    float64
 3   petal_width_cm   149 non-null    float64
 4   class            149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

no

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [6]:
iris['petal_length_cm'][10:30]=np.nan

C:\Users\Hady\AppData\Local\Temp\ipykernel_3660\799117214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_length_cm'][10:30]=np.nan

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  149 non-null    float64
 1   sepal_width_cm   149 non-null    float64
 2   petal_length_cm  129 non-null    float64
 3   petal_width_cm   149 non-null    float64
 4   class            149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Step 7. Good, now lets substitute the NaN values to 1.0

In [9]:
iris.replace(np.nan,value=1.0,inplace=True)

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  149 non-null    float64
 1   sepal_width_cm   149 non-null    float64
 2   petal_length_cm  149 non-null    float64
 3   petal_width_cm   149 non-null    float64
 4   class            149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Step 8. Now let's delete the column class

In [11]:
iris.drop('class',axis=1,inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [16]:
iris.iloc[0:3]=np.nan
iris.head()

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
0              NaN             NaN              NaN             NaN
1              NaN             NaN              NaN             NaN
2              NaN             NaN              NaN             NaN
3              5.0             3.6              1.4             0.2
4              5.4             3.9              1.7             0.4

In [17]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  146 non-null    float64
 1   sepal_width_cm   146 non-null    float64
 2   petal_length_cm  146 non-null    float64
 3   petal_width_cm   146 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

### Step 10.  Delete the rows that have NaN

In [18]:
iris.dropna(inplace=True)
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 3 to 148
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  146 non-null    float64
 1   sepal_width_cm   146 non-null    float64
 2   petal_length_cm  146 non-null    float64
 3   petal_width_cm   146 non-null    float64
dtypes: float64(4)
memory usage: 5.7 KB

### Step 11. Reset the index so it begins with 0 again

In [19]:
iris.reset_index()

     index  sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
0        3              5.0             3.6              1.4             0.2
1        4              5.4             3.9              1.7             0.4
2        5              4.6             3.4              1.4             0.3
3        6              5.0             3.4              1.5             0.2
4        7              4.4             2.9              1.4             0.2
..     ...              ...             ...              ...             ...
141    144              6.7             3.0              5.2             2.3
142    145              6.3             2.5              5.0             1.9
143    146              6.5             3.0              5.2             2.0
144    147              6.2             3.4              5.4             2.3
145    148              5.9             3.0              5.1             1.8

[146 rows x 5 columns]

### BONUS: Create your own question and answer it.