# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
data={'evolution':['ivysaur','charneleon','wartortle','metapod'],
      'hp':[45,39,44,45],
      'name':['bulbasaur','charmander','squirtle','caterpie'],
      'pokedex':['yes','no','yes','no'],
      'Type':['grass','fire','water','bug']}
pokemon=pd.DataFrame(data)
pokemon.head()

    evolution  hp        name pokedex   Type
0     ivysaur  45   bulbasaur     yes  grass
1  charneleon  39  charmander      no   fire
2   wartortle  44    squirtle     yes  water
3     metapod  45    caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon = pokemon[['Type', 'hp', 'evolution','pokedex']]

In [6]:
pokemon.head()

    Type  hp   evolution pokedex
0  grass  45     ivysaur     yes
1   fire  39  charneleon      no
2  water  44   wartortle     yes
3    bug  45     metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
pokemon['place']=[15,6,8,5]
pokemon.head()

    Type  hp   evolution pokedex  place
0  grass  45     ivysaur     yes     15
1   fire  39  charneleon      no      6
2  water  44   wartortle     yes      8
3    bug  45     metapod      no      5

### Step 6. Present the type of each column

In [10]:
pokemon.dtypes

Type         object
hp            int64
evolution    object
pokedex      object
place         int64
dtype: object